<section id="inhouse" class="top-buffer bottom-buffer content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <hr class="section-heading-spacer"> -->
                    <div class="clearfix"></div>
                    <h2 class="section-heading hcenter">In House Workshops</h2>
                    <div class="lead hcenter">
                      <p>
                        We're also available for closed in-house workshops. Please get in touch if you're interested. We'll make sure to adapt the workshop to your teams specific needs.
                      </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
