<section id="team" class="top-buffer bottom-buffer">
        <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="clearfix"></div>
                <h2 class="section-heading hcenter">Team</h2>
              </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                  <img class="img-responsive" src="img/dudek.jpg" alt="Paweł Dudek">
                  <h3>Paweł Dudek <a href="https://twitter.com/eldudi" target="_blank"><i style="color: black;" class="fa fa-twitter fa-fw fa-1x"></i></a></h3>
                </div>
                <div class="col-lg-3">
                  <img class="img-responsive" src="img/zubala.jpg" alt="Alek Zubala">
                  <h3>Alek Zubala <a href="https://twitter.com/alekzubala" target="_blank"><i style="color: black;" class="fa fa-twitter fa-fw fa-1x"></i></a></h3>
                </div>
                <div class="col-lg-3">
                  <img class="img-responsive" src="img/warchol.jpg" alt="Łukasz Warchoł">
                  <h3>Łukasz Warchoł <a href="https://twitter.com/warcholuke" target="_blank"><i style="color: black;" class="fa fa-twitter fa-fw fa-1x"></i></a></h3>
                </div>
                <div class="col-lg-3">
                  <img class="img-responsive" src="img/oczko.png" alt="Maciej Oczko">
                  <h3>Maciej Oczko <a href="https://twitter.com/maciejoczko" target="_blank"><i style="color: black;" class="fa fa-twitter fa-fw fa-1x"></i></a></h3>
                </div>
            </div>
        </div>
    </div>
</section>
